body {
  background: #c0dcd5;
  font-family: 'Cabin', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.delete-x{
  color: #b11e1e;
  text-decoration: none;
  border-radius: 9px;
  background: #fff;
  padding: 2px 6px;
  font-family: 'Raleway', sans-serif;
}

input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    background-color: #ffd4bf;
    display: inline-block;
    font-size: 16px;
}
